<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

</head>

<body>
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::slider">
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/A.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Qui <span>sommes-nous ?</span></h2>
                <p>A la maison Coin Délice ce sont deux Chefs Pâtissiers.
                    Rihab et Souleymane, passionnés et dynamiques,
                    partagent leur savoir faire et astuces avec vous,
                    dans leur atelier professionnel de pâtisserie situé à Rouen.</p>
                <p>Succombez à la saveur exceptionnelle des créations pâtissières de Coin Délice.
                    Découvrez notre gamme de pâtisseries et  craquez pour nos macarons.
                    Autant que de vous régaler, notre objectif est de vous surprendre à travers chacune
                    de nos créations pâtissières.
                    Tout le bonheur procuré par nos pâtisseries est le fruit de l’imagination et
                    la créativité débordantes de vos pâtissiers créateurs.</p>
                <p>Commandez vos pâtisseries en ligne et choisissez le jour de retrait.
                    Vous pouvez également retirer votre commande passée en ligne
                    à notre adresse à partir de 10h.</p>

            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Commandez quand vous voulez</h3>
                    <p>Commandez quand vous voulez et choisissez votre jour de retrait. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Commandez chez votre artisan</h3>
                    <p>Savoir-faire artisanal, qualité, saveur & fraîcheur garantis</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Commandez en toute confiance</h3>
                    <p>Paiement sécurisé par Carte Bancaire ou sur place</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<!-- ALL JS FILES -->
<div th:replace="fragments::script"></div>
</body>

</html>